<ion-grid class="ion-margin">
  <ion-row>
    <ion-col class="appLogo" sizeLg="6" sizeMd="11" sizeSm="10" sizeXs="10">
      <div class="logo" routerLink="/home">
        <div class="logo-outer">
          <ion-icon name="cube-outline" class="logo-icon"></ion-icon>
          <ion-text class="logo-text">Just Post</ion-text>
        </div>
      </div>
    </ion-col>
    <ion-col class="navbar-links">
      <ion-button
        fill="clear"
        size="large"
        routerLink="/home"
        routerLinkActive="active"
        >Home</ion-button
      >
      <ion-button
        fill="clear"
        size="large"
        routerLink="/post"
        routerLinkActive="active"
        >Post</ion-button
      >
      <ion-button
        fill="clear"
        size="large"
        routerLink="/comment"
        routerLinkActive="active"
        >Comment</ion-button
      >
      <ion-button
        fill="clear"
        size="large"
        routerLink="/company"
        routerLinkActive="active"
        >Company</ion-button
      >
      <ion-button
        fill="clear"
        size="large"
        routerLink="/staff"
        routerLinkActive="active"
        >Staff</ion-button
      >
    </ion-col>
    <ion-col class="menu" sizeMd="1" sizeXs="2">
      <ion-menu-button></ion-menu-button>
    </ion-col>
  </ion-row>
</ion-grid>
